.notes-table {
  &.custom-table {
    .flex-item {
      p {
        &:first-child {
          font-family: mardotoMedium;
        }
        &:last-child {
          margin-top: 8px;
          color: rgba($black,0.5)
        }
      }
    }
  }

  .comment-text {
    display: block;
    font-family: mardotoMedium;
  }
}

.top-select-box {
  padding: 24px 24px 0;
}