.sub-tabs {
  padding: 16px;
  position: relative;
  background-color: $white;
  border-bottom: 1px solid $white-middle-dark;

  &.custom-sub-tabs {
    padding: 0 0 16px;
  }
}

.customer-navigation {
  li {
    font-size: 0;
    padding: 8px 0;
    border-bottom: 1.5px dashed rgba($grey-light, 0.3);

    a {
      color: $black;
      display: block;
      @include transition(0.3s);
    }

    span {
      display: inline-block;
      vertical-align: middle;

      &.icon {
        width: 24px;
        font-size: 16px;
        text-align: center;
      }

      &.text {
        width: 80%;
        width: calc(100% - 24px);
        width: -webkit-calc(100% - 24px);
        width: -moz-calc(100% - 24px);
        padding-left: 10px;
        font-size: 14px;
      }
    }


      a {
        &:hover , &.active {
          cursor: pointer; color: $green-light;
      }
    }
  }
}

.client-profile {
  div:not(.mardotoMedium) {
    > span {
      text-transform: capitalize;
    }
  }
}