
.page-top {
  padding: 24px 24px 10px;
  border-bottom: 1px solid $grey;
  margin-bottom: 18px;

  .page-top-part {
    width: 50%;
  }

  .back-link {
    margin-bottom: 16px;
  }

  &.with-buttons {
    padding-bottom: 24px;

    .back-link {
      margin-bottom: 6px;
    }
  }

  .inner-page-top {
    i {
      font-size: 6px;
      color: $grey-light;
      margin: 0 6px;
    }
  }

  .sub-title {
    margin-top: 6px;
    color: $grey-middle;
  }
}

.page-bottom {
  padding: 24px 24px 0 0;
  border-top: 1px solid $grey;
  margin-top: 24px;
}

.label {
  display: block;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  font-family: mardotoMedium;
}

.page-title {
  font-size: 20px !important;
  line-height: 24px;
  font-family: mardotoMedium;
  text-transform: capitalize;
}

.title-style-2 {
  text-transform: uppercase;
  font-family: mardotoBold;
  margin-bottom: 22px;
}

.bg-cover {
  background: no-repeat center;
  background-size: cover;
}

.buttons {
  button, a {
    flex: 1;

    &:first-child {
      margin-right: 6px;
    }
    &:last-child {
      margin-left: 6px;
    }
  }
}

.block-container {
  padding: 20px 16px;
  background-color: $white;
  @include border-radius(3px);

  .block-row {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .block-top {
    margin-bottom: 16px;

    .block-title {
      margin-bottom: 0;
    }
  }
}

.block-title {
  font-family: mardotoBold;
  font-size: 16px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.inline-elements {
  font-size: 0;

  >div, >span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
  }
}

.loading-box {
  padding: 24px;
  text-align: center;
}

.notification-message {
  padding: 12px 30px 12px 12px;
  width: 90%;
  width: calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  position: absolute;
  bottom: 0;
  right: 15px;
  font-size: 12px;
  background-color: $white;
  border-top: 12px solid $green;
  @include border-radius(6px);
  @include box-shadow(0 4px 6px 0 rgba(0,0,0,0.02));

  .icon {
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 8px;
    cursor: pointer;
    color: rgba($grey-middle, 0.8);

    &:hover {
      color: $grey-middle;
    }
  }

  &.failed {
    border-top-color: $red;
  }
}

.custom-row {
  >div {
    flex: 1;
    width: 50%;
    max-width: 200px;
    min-width: 200px;
    padding: 5px 0;
    margin-right: 10px;
  }
}