.login-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: $white url('/assets/images/a-bg.png') no-repeat  71% 96%;

  .left-part {
    width: 60%;
    height: 100vh;
    background: url('/assets/images/login-bg.png') no-repeat center;
    background-size: cover;
  }

  .right-part {
    width: 40%;
  }

  .login-inner-container {
    width: 346px;
    margin: auto;

    p {
      letter-spacing: 0.67px;
      margin-bottom: 16px;
      line-height: 24px;

      &:last-child {
        margin-bottom: 35px;
      }
    }

    .logo {
      height: 25px;
      margin-bottom: 30px;

      a {
        display: inline-block;
        height: 100%;

        img {
          max-height: 100%;
        }
      }
    }

    .form-group {
      margin-bottom: 42px;
    }
  }
}