@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ou3fm5');
  src:  url('fonts/icomoon.eot?ou3fm5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ou3fm5') format('truetype'),
    url('fonts/icomoon.woff?ou3fm5') format('woff'),
    url('fonts/icomoon.svg?ou3fm5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call:before {
  content: "\e927";
}
.icon-edit:before {
  content: "\e926";
}
.icon-upload:before {
  content: "\e925";
}
.icon-save:before {
  content: "\e924";
}
.icon-error:before {
  content: "\e923";
}
.icon-filter:before {
  content: "\e922";
}
.icon-ruble:before {
  content: "\e921";
}
.icon-check:before {
  content: "\e920";
}
.icon-euro:before {
  content: "\e91d";
}
.icon-dram:before {
  content: "\e91e";
}
.icon-dollar:before {
  content: "\e91f";
}
.icon-telegram:before {
  content: "\e91b";
}
.icon-linkedin:before {
  content: "\e91a";
}
.icon-facebook:before {
  content: "\e91c";
}
.icon-download:before {
  content: "\e919";
}
.icon-graphic:before {
  content: "\e917";
}
.icon-minus:before {
  content: "\e913";
}
.icon-check-circle:before {
  content: "\e914";
}
.icon-info:before {
  content: "\e915";
}
.icon-trash:before {
  content: "\e916";
}
.icon-bookmark:before {
  content: "\e912";
}
.icon-polygon-up:before {
  content: "\e90d";
}
.icon-polygon-down:before {
  content: "\e90e";
}
.icon-delete:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e910";
}
.icon-grid:before {
  content: "\e90f";
}
.icon-state:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-hipotec:before {
  content: "\e906";
}
.icon-micro:before {
  content: "\e907";
}
.icon-card:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-libra:before {
  content: "\e90b";
}
.icon-back-arrow:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e918";
}
.icon-close:before {
  content: "\e90a";
}
.icon-dot:before {
  content: "\e90c";
}
