header {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 64px;
  padding: 0px 24px 0px 12px;
  left: 264px;
  background-color: $white;
  width: calc(100% - 264px);
  width: -webkit-calc(100% - 264px);
  width: -moz-calc(100% - 264px);
  @include box-shadow(0 4px 20px 0 rgba(37,38,94,0.1));

  .search-box {
    flex: 1;
    padding-right: 50px;
  }

  .user-box {
    font-size: 0;

    >span {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      color: $grey-middle;

      &:last-child {
        padding-left: 12px;
        width: calc(100% - 34px);
        width: -webkit-calc(100% - 34px);
        width: -moz-calc(100% - 34px);
      }
    }

    .user-img {
      width: 34px;
      height: 34px;
      @include border-radius(2px);
    }
  }
}