.ibx-search-sort-container {
  padding: 10px 16px 10px 4px;
  margin-top: -4px;
  height: 64px;
  position: relative;
  background-color: $white;
  @include border-radius(0 0 3px 3px);

  .left-part {
    width: 50%;

    >div {
      width: 50%;
      padding-right: 14px;

      &:first-child {
        position: relative;

        &:after {
          content: '';
          width: 1px;
          height: 30px;
          top: 50%;
          right: 0;
          position: absolute;
          background-color: $grey;
          @include transform(translateY(-50%));
        }
      }

      &:last-child {
        padding-right: 0px;
      }
    }

    .search-box {
      .ibx-input {
        input {
          height: 30px;
        }
      }
    }
  }

  &.custom-sort {
    padding: 10px 0;
  }
}

.filter-popup {
  display: none;
  width: 100%;
  position: relative;
  padding: 24px 16px;
  margin: 2px 0 5px;
  background-color: $white;
  @include border-radius(3px);
  @include box-shadow(0 3px 6px 0 rgba(0,0,0,0.1));

  &.show {
    display: block;
  }

  .radio-row {
    >div {
      margin-right: 12px;
      vertical-align: top;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .radio-buttons {
    .ibx-radio {
      margin-right: 7px;
      margin-bottom: 7px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .checkboxes {
    .ibx-checkbox {
      margin-right: 7px;
      margin-bottom: 7px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .second-row {
    >div {
      margin-right: 12px;
      margin-bottom: 12px;
    }
  }

  .last {
    padding-top: 25px;

    a {
      margin-right: 18px;
    }
  }

  .ibx-input {
    input {
      border-color: $white-middle-dark;

      &:focus {
        border-color: $green;
      }
    }
  }
}