.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 264px;
  height: 100%;
  padding-bottom: 20px;
  background-color: $white;
  @include box-shadow(0 4px 20px 0 rgba(37,38,94,0.1));

  .top {
    height: 64px;
    padding: 18px 24px;
    color: $green;
    background: $grey-dark no-repeat center;
    background-size: cover;
  }

  .inner {
    padding: 24px 0;

    &.scroll {
      height: 80%;
      height: calc(100% - 108px);
      height: -webkit-calc(100% - 108px);
      height: -moz-calc(100% - 108px);
    }
  }

  ul {
    margin-bottom: 76px;

    &:last-child {
      margin-bottom: 0px;
    }

    li {
      @include transition(0.3s);

      a {
        padding: 10px 24px;
        color: $black;
        font-size: 0;
        display: block;

        >span {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;

          &:last-child {
            padding-left: 14px;
            width: 80%;
            width: calc(100% - 24px);
            width: -webkit-calc(100% - 24px);
            width: -moz-calc(100% - 24px);
          }
        }
      }

      .icon {
        width: 24px;
        height: 24px;
      }

      &:hover {
        cursor: pointer;

        a {
          color: $green;
        }
      }
    }
  }

  .btn-simple {
    height: 44px;
    text-align: left;
    padding-left: 24px;

    i {
      font-size: 16px;
      margin-right: 14px;
    }

    &:hover {
      background-color: rgba(245,246,250,0.4);
    }
  }
}