.ibx-button {
  border: 0;
  height: 44px;
  line-height: 44px;
  color: $white;
  font-size: 14px;
  padding: 0 16px;
  width: 100%;
  background-color: transparent;
  font-family: mardotoMedium;
  @include border-radius(3px);
  @include transition(0.3s);

  .btn-text {
    white-space: nowrap;
  }

  &.btn-grey-dark {
    background-color: $grey-dark;

    &:not([disabled]) {
      &:hover {
        background-color: $grey-darker;
      }
    }
  }

  &.btn-green {
    background-color: $green;

    i {
      color: $white !important;
    }

    &:not([disabled]) {
      &:hover {
        background-color: $blue-green;
      }
    }
  }

  &.btn-outline {
    color: $grey-dark;
    border: 1px solid $grey-dark;

    &:not([disabled]) {
      &:hover {
        color: $grey-darker;
        border-color: $grey-darker;
        background-color: rgba($grey-darker, 0.1);
      }
    }

    &[disabled] {
      border-color: rgba($grey-dark, 0.2);
      background-color: transparent;
    }
  }

  &.with-shadow {
    @include box-shadow(0 2px 4px 0 rgba(0,0,0,0.2));
  }

  &.btn-small {
    height: 36px;
    line-height: 36px;
  }

  &.not-full-width {
    width: initial;
  }

  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    color: rgba($grey-dark, 0.3);
    background-color: rgba($grey-dark, 0.3);
    cursor: not-allowed;
    @include box-shadow(none);
  }


  &.btn-simple {
    height: auto;
    color: $grey-dark;
    font-size: 14px;
    padding: 0;
    background-color: transparent;
    font-family: mardotoRegular;
    @include border-radius(0);
    @include box-shadow(none);
  }

  &.btn-link {
    color: $green;
    line-height: initial;

    &:hover {
      text-decoration: underline;
    }
  }

  &.btn-left-icon {
    .btn-text, i, img {
      vertical-align: middle;
    }

    .btn-text {
      margin-left: 8px;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.btn-icon {
  width: 44px;
  height: 44px;
  display: inline-block;
  line-height: 48px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid $white-middle-dark;
  @include border-radius(3px);
  @include transition(0.3s);

  i {
    font-size: 16px;
  }

  &.btn-grey-light {
    color: $black;
    background-color: $grey-light;

    &:hover {
      color: $white;
      background-color: $green;
    }
  }

  &.btn-green {
    color: $green;

    &:hover, &.active {
      color: $white;
      background-color: $green;
    }
  }

  &.simple {
    height: auto;
    width: initial;
    border: 0;
    background-color: transparent;
    line-height: initial;
    color: rgba($grey-dark, 0.5);

    &:hover {
      color: $green-light;
      background-color: transparent;
    }
  }
}

a.ibx-button {
  display: inline-block;
  text-align: center;
}