.ibx-checkbox {
  cursor: pointer;
  font-size: 0;
  display: inline-block;

  span {
    display: inline-block;
    vertical-align: middle;

    &.item-text {
      font-size: 14px;
      padding-left: 10px;
      max-width: 75%;
      max-width: calc(100% - 15px);
      max-width: -webkit-calc(100% - 15px);
      max-width: -moz-calc(100% - 15px);
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + span {
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 4px;
    margin-top: -2px;
    border: 1px solid $grey-light;
    background-color: transparent;
    background-clip: content-box;
    @include border-radius(3px);
    @include transition(0.3s);

    i {
      color: $white;
      opacity: 0;
      display: inline-block;
      vertical-align: top;
      line-height: 14px;
      font-size: 10px;
      @include transition(opacity 0.3s);
    }
  }

  input[type="checkbox"]:checked + span {
    border-color: $green;
    background-color: $green;
    padding: 0px;

    i {
      opacity: 1;
    }
  }

  &.custom-checkbox {
    display: inline-block;

    input[type="checkbox"] + span {
      display: none;
    }

    input[type="checkbox"] + span + .item-text {
      height: 44px;
      max-width: initial;
      padding: 0 18px;
      font-size: 14px;
      text-align: center;
      color: $grey-dark;
      margin-right: 0px;
      line-height: 44px;
      background-color: $white;
      background-clip: initial;
      border: 1px solid $white-middle-dark;
      @include border-radius(3px);
      @include transition(0.3s);

      i {
        line-height: 44px;
        color: $grey-dark;
        font-size: 16px;
        opacity: 1 !important;
        @include transition(0.3s);
      }
    }

    input[type="checkbox"]:checked + span + .item-text {
      color: $white;
      background-color: $green-light;

      i {
        color: $white;
      }
    }
  }
}
