.ibx-input {
  display: inline-block;
  position: relative;
  width: 100%;

  .inner {
    position: relative;
  }

  .currency {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    font-family: mardotoRegular;
  }

  input {
    width: 100%;
    height: 44px;
    font-size: 14px;
    font-family: mardotoRegular;
    padding: 0 12px;
    color: $black;
    border: 1px solid $grey-pink;
    background-color: $white;
    @include border-radius(3px);
    @include transition(0.3s);

    &.currency-input {
      @include transition(0s);
      &.unVisible {
        color: transparent;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
          -webkit-text-fill-color: transparent;
        }
      }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    &:focus {
      border-color: $green;
    }

    &::-webkit-input-placeholder {
      color: rgba($grey-dark, 0.3);
      font-family: mardotoLight;
    }
    &::-moz-placeholder {
      color: rgba($grey-dark, 0.3);
      font-family: mardotoLight;
    }
    &:-moz-placeholder {
      color: rgba($grey-dark, 0.3);
      font-family: mardotoLight;
    }
    &:-ms-input-placeholder {
      color: rgba($grey-dark, 0.3);
      font-family: mardotoLight;
    }

    &[disabled] {
      color: rgba($black, 0.4);
      background-color: rgba($black, 0.04);
      border-color:  rgba($black, 0.04);

      &::-webkit-input-placeholder {
        color: rgba($black, 0.4);
      }
      &::-moz-placeholder {
        color: rgba($black, 0.4);
      }
      &:-moz-placeholder {
        color: rgba($black, 0.4);
      }
      &:-ms-input-placeholder {
        color: rgba($black, 0.4);
      }
    }

    &[type="date"] {
      &::-webkit-clear-button,
      &::-webkit-inner-spin-button {
        display: none;
      }
    }
  }

  &.int-right-icon,  &.int-left-icon {
    i {
      position: absolute;
      top: 50%;
      font-size: 16px;
      color: rgba($black, 0.2);
      @include transform(translateY(-50%));
    }
  }

  &.int-left-icon {
    input {
      padding-left: 40px;
    }

    i {
      left: 12px;
    }
  }

  &.int-right-icon {
    input {
      padding-right: 40px;
    }

    i {
      right: 12px;
    }
  }

  &.is-invalid {
    input {
      border-color: $red !important;
    }

    &:not(.int-custom) {
      &.int-small {
        input {
          &::-webkit-input-placeholder {
            font-size: 0;
          }
          &::-moz-placeholder {
            font-size: 0;
          }
          &:-moz-placeholder {
            font-size: 0;
          }
          &:-ms-input-placeholder {
            font-size: 0;
          }

          &:focus {
            & + .error-message {
              display: none;
            }
          }
        }

        .error-message {
          bottom: 10px;
          left: 12px;
        }
      }
    }
  }

  &.int-small {
    input {
      height: 34px;
    }
  }

  &.int-custom {
    input {
      padding: 0;
      letter-spacing: 0.44px;
      border: 0;
      background-color: transparent;
      border-bottom: 1px solid $grey-light;
      @include border-radius(0);

      &::-webkit-input-placeholder {
        color: $black-light;
        font-family: mardotoRegular;
      }
      &::-moz-placeholder {
        color: $black-light;
        font-family: mardotoRegular;
      }
      &:-moz-placeholder {
        color: $black-light;
        font-family: mardotoRegular;
      }
      &:-ms-input-placeholder {
        color: $black-light;
        font-family: mardotoRegular;
      }

      &.is-invalid {
        border-bottom-color: $red;
      }
    }
  }
}

.search-box {
  .ibx-input {
    input {
      border: 0;

      &::-webkit-input-placeholder {
        font-family: mardotoLight;
        font-style: italic;
      }
      &::-moz-placeholder {
        font-family: mardotoLight;
        font-style: italic;
      }
      &:-moz-placeholder {
        font-family: mardotoLight;
        font-style: italic;
      }
      &:-ms-input-placeholder {
        font-family: mardotoLight;
        font-style: italic;
      }
    }
  }
}

.inputs-group {
  .ibx-input {
    input {
      position: relative;
      z-index: 1;

      &:focus {
        z-index: 2;
      }
    }

    &:first-child {
      input {
        @include border-radius(3px 0 0 3px);
      }
    }
    &:last-child {
      input {
        margin-left: -1px;
        @include border-radius(0 3px 3px 0);
      }
    }
  }
}