.ReactModal__Overlay {
  background-color: rgba(0,0,0, 0.4) !important;
  z-index: 9999;
}

.ReactModal__Content {
  border: 0 !important;
  padding: 0 !important;
  overflow: initial !important;
  background: transparent !important;
  @include border-radius(0 !important);
}

.ibx-modal {
  background-color: $white;
  @include border-radius(3px);
  @include 	box-shadow(0 3px 6px 0 rgba(0,0,0,0.1));

  .modal-top {
    height: 38px;
    padding: 0 16px;
    color: $grey-middle;
    background-color: $white-middle-dark;
    @include border-radius(3px 3px 0 0);


    .modal-title {
      font-family: mardotoMedium;
    }
  }

  .modal-content {
    padding: 24px 16px;
  }

  .modal-bottom {
    border-top: 1px solid $grey-pink;
    padding: 12px 16px 16px;

    .ibx-button {
      width: auto;
    }
  }
}

.advanced-modal {
  width: 345px;

  .modal-content {
    >div {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.history-modal {
  width: 800px;
}

.available-account-modal {
  width: 480px;

  .modal-top {
    background-color: transparent;
    padding: 18px 20px;
    font-size: 16px;
    color: $black;
    height: auto;
    border-bottom: 1px solid rgba($grey-middle, 0.3);

    .closeBtn {
      position: absolute;
      top: 18px;
      right: 20px;
      font-size: 20px;

      .ibx-button {
        color: $black !important;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }

  .modal-content, .modal-bottom {
    padding: 20px;
  }

  .modal-bottom {
    border-top: 0;
    margin-top: 0;
  }
}