.pagination {
  position: relative;
  @include justify-content(flex-end);

  li {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0;
    font-family: mardotoBold;

    a {
      display: block;
      color: $black;
    }

    &.active {
      a {
        color: $green;
      }
    }

    &:first-child, &:last-child {
      display: none;
    }

    &:nth-child(2), &:nth-last-child(2) {
      position: relative;

      a {
        &:after {
          content: '\e903';
          font-family: icomoon;
          font-size: 11px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          color: $white;
          background-color: $grey-dark;
          @include border-radius(2px);
        }
      }
    }

    &:nth-child(2) {
      a {
        &:after {
          content: '\e902';
        }
      }
    }

    &.disabled {
      a {
        &:after {
          background-color: #d8d9db;
        }
      }
    }
  }
}
