.react-phone-number-input {
  $this: &;

  input {
    width: 100%;
    min-width: 200px;
    max-width: 200px;
    height: 34px;
    font-size: 14px;
    font-family: mardotoRegular;
    padding: 0 12px;
    color: $black;
    border: 1px solid $grey-pink;
    background-color: $white;
    @include border-radius(3px);
    @include transition(0.3s);

    &:focus {
      border-color: $green;
    }

    &::-webkit-input-placeholder {
      color: rgba($grey-dark, 0.3);
      font-family: mardotoLight;
    }
    &::-moz-placeholder {
      color: rgba($grey-dark, 0.3);
      font-family: mardotoLight;
    }
    &:-moz-placeholder {
      color: rgba($grey-dark, 0.3);
      font-family: mardotoLight;
    }
    &:-ms-input-placeholder {
      color: rgba($grey-dark, 0.3);
      font-family: mardotoLight;
    }

    &[disabled] {
      color: rgba($black, 0.4);
      background-color: rgba($black, 0.04);
      border-color:  rgba($black, 0.04);

      &::-webkit-input-placeholder {
        color: rgba($black, 0.4);
      }
      &::-moz-placeholder {
        color: rgba($black, 0.4);
      }
      &:-moz-placeholder {
        color: rgba($black, 0.4);
      }
      &:-ms-input-placeholder {
        color: rgba($black, 0.4);
      }
    }
  }

  &__icon {
    border: 1px solid $grey-light !important;
    overflow: hidden;
    width: 20px !important;
    height: 15px !important;
    @include border-radius(3px);

    &--international {
      position: relative;
      padding: 0 !important;
      width: 20px !important;
      height: 15px !important;

      &:after {
        content: '\e927';
        font-family: icomoon;
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 12px;
        color: $green;
      }

      svg {
        width: 0;
      }
    }
  }

  &__country-select {
    #{$this}__country-select-arrow {
      color: $black-light !important;
    }
    &:focus + #{$this}__country-select-arrow {
      color: $black !important;
    }
  }
}

