.ibx-radio {
  cursor: pointer;
  font-size: 0;
  display: inline-block;

  span {
    vertical-align: middle;
    display: inline-block;

    &.item-text {
      font-size: 14px;
      padding-left: 10px;
      max-width: 75%;
      max-width: calc(100% - 15px);
      max-width: -webkit-calc(100% - 15px);
      max-width: -moz-calc(100% - 15px);

      >span {
        display: block;
      }
    }
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + span {
    width: 15px;
    height: 15px;
    padding: 4px;
    margin-top: -2px;
    border: 1px solid $grey-light;
    background-color: transparent;
    background-clip: content-box;
    @include border-radius(50%);
    @include transition(0.3s);
  }

  input[type="radio"]:checked + span {
    background-color: $green;
    border-color: $green;
    padding: 2px;
  }

  &.custom-radio {
    display: inline-block;

    input[type="radio"] + span {
      display: none;
    }

    input[type="radio"] + span + .item-text {
      height: 44px;
      max-width: initial;
      padding: 0 18px;
      min-width: 80px;
      font-size: 14px;
      text-align: center;
      color: $grey-dark;
      margin-right: 0px;
      line-height: 44px;
      background-color: $white;
      background-clip: initial;
      border: 1px solid $white-middle-dark;
      @include border-radius(3px);
      @include transition(0.3s);
    }

    input[type="radio"]:checked + span + .item-text {
      color: $white;
      background-color: $green-light;
      border-color: $green-light;
    }
  }
}
