.ibx-selectbox {
  position: relative;

  .css-yk16xz-control, .css-1pahdxg-control,  .css-1fhf3k1-control {
    width: 100%;
    height: 44px;
    font-size: 14px;
    font-family: mardotoRegular;
    padding: 0 12px;
    color: $black;
    cursor: pointer;
    min-height: auto;
    border: 1px solid $grey-pink;
    background-color: $white !important;
    @include border-radius(3px);
    @include transition(0.3s);

    &:hover {
      border-color: $grey-pink;
      @include transition(0.3s)
    }

    .css-1wa3eu0-placeholder {
      color: rgba($grey-dark, 0.3);
    }

    .css-1hwfws3 {
      padding: 0;
    }

    &.is-invalid {
      border-color: $red;
    }

    &[disabled] {
      color: rgba($black, 0.3);
      background-color: $white-dark;
      border-color: $white-dark;

      &::-webkit-input-placeholder {
        color: rgba($black, 0.3);
      }
      &::-moz-placeholder {
        color: rgba($black, 0.3);
      }
      &:-moz-placeholder {
        color: rgba($black, 0.3);
      }
      &:-ms-input-placeholder {
        color: rgba($black, 0.3);
      }
    }
  }

  &.st-small {
    .css-yk16xz-control, .css-1pahdxg-control,  .css-1fhf3k1-control {
      height: 34px;
    }
  }

  .css-1okebmr-indicatorSeparator,
  .css-109onse-indicatorSeparator {
    display: none;
  }

  .css-1okebmr-indicatorSeparator + .css-tlfecz-indicatorContainer,
  .css-1okebmr-indicatorSeparator + .css-1gtu0rj-indicatorContainer,
  .css-109onse-indicatorSeparator + .css-tlfecz-indicatorContainer {
    display: block !important;
    margin-top: 3px;
  }

  .css-tlfecz-indicatorContainer, .css-1gtu0rj-indicatorContainer {
    padding: 0;
    display: none;

    &:before {
      content: '\e905';
      font-family: icomoon;
      color: $grey-light;
    }
    svg {
      display: none;
    }
  }

  .css-1pahdxg-control {
    border-color: $green;
    background-color: transparent;
    @include box-shadow(none);
    @include border-radius(3px);

    &:hover {
      border-color: $green;
    }

    .css-1gtu0rj-indicatorContainer {
      &:before {
        content: '\e904';
      }
    }
  }

  .css-26l3qy-menu {
    margin-top: 5px;
    background-color: $white;
    @include border-radius(0 0 3px 3px);
    @include box-shadow(0 10px 10px 0 rgba(0,0,0,0.15));
  }

  .css-1ml51p6-MenuList {
    padding: 0;

    &::-webkit-scrollbar-track {
      background-color: transparent;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey-light;
      @include border-radius(2px);
    }

    >div {
      &:first-child {
        @include border-radius(3px 3px 0 0);
      }
      &:last-child {
        @include border-radius(0 0 3px 3px);
      }
    }
  }

  .css-1n7v3ny-option {
    background-color: $white-dark;
  }

  .css-1fhf3k1-control {
    color: rgba($black, 0.3);
    background-color: $white-dark;
    border-color: $white-dark;

    .css-1wa3eu0-placeholder, .css-w8afj7-Input {
      color: rgba($black, 0.3);
    }
  }

  .css-1rhbuit-multiValue {
    background-color: $grey;
  }

  &.small-width {
    width: 70px;
  }

  &.is-disabled {
    .css-yk16xz-control, .css-1pahdxg-control,  .css-1fhf3k1-control {
      color: rgba($black, 0.4) !important;
      background-color: rgba($black, 0.04) !important;
      border-color:  rgba($black, 0.04);

      .css-1uccc91-singleValue, .css-107lb6w-singleValue {
        color: rgba($black, 0.3) !important;
      }

      .css-1gtu0rj-indicatorContainer {
        &:before {
          content: '\e905';
        }
      }
    }

    .css-26l3qy-menu {
      display: none;
    }
  }
}
