.ibx-status {
  height: 36px;
  line-height: 38px;
  color: $white;
  padding: 0 5px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  @include border-radius(3px);
  @include transition(0.3s);

  &.st-new {
    color: $green;
    background-color: $white-dark;
  }
  &.approved {
    background-color: $green;
  }
  &.active {
    background-color: $blue;
  }
  &.in-review {
    background-color: $orange;
  }
  &.rejected {
    background-color: $red-light;
  }
  &.waiting {
    color: $orange;
    border: 1px solid $orange;
  }
  &.closed {
    color: $grey-dark;
    border: 1px solid $grey-light;
    background-color: $white-middle-dark;
  }
}
