.ibx-switch {
  cursor: pointer;

  &.sw-left {
    .item-text {
      order: 1;
      padding-left: 10px;
    }

    input[type='checkbox'] + span {
      order: 0;
    }
  }

  &.sw-right {
    .item-text {
      order: 0;
      padding-right: 10px;
    }

    input[type='checkbox'] + span {
      order: 1;
    }
  }

  input {
    display:none;
  }

  input[type='checkbox'] + span  {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 34px;
    height: 14px;
    position: relative;
    background-color: rgba(34,31,31,0.26);
    @include transition(0.3s);
    @include border-radius(10.5px);

    &:before {
      content: "";
      height: 20px;
      width: 20px;
      left: -2px;
      top: -3.5px;
      position: absolute;
      background-color: #F1F1F1;
      @include transition(0.3s);
      @include border-radius(50%);
      @include box-shadow(0 0 1px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24));
    }
  }

  input[type='checkbox']:checked + span {
    background-color: rgba($green, 0.5);

    &:before {
      background-color: $green;
    }
  }

  input[type='checkbox']:checked + span:before {
    @include transform(translateX(20px));
  }
}

