.react-tabs, .tabs {
  .react-tabs__tab-list {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .react-tabs__tab, .tab-link {
    height: 44px;
    border: 0;
    min-width: 12%;
    padding: 14px 20px;
    text-align: center;
    color: $grey-middle;
    font-family: mardotoMedium;
    margin-right: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 0px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: $grey-pink;
    @include border-radius(3px 3px 0 0);

    &:last-child {
      margin-right: 0;
    }

    &:focus {
      border-color: transparent;

      &:after {
        content: none;
      }
    }

    &--selected {
      background-color: $white;
      color: $green;
      cursor: default;
      @include box-shadow(0 4px 20px 0 rgba(37,38,94,0.1));

    }
  }

  .react-tabs__tab-panel, .tab-panel {
    background-color: $white;
    position: relative;

    .ibx-table-container {
      margin-top: -2px;
    }
  }
}

.tab-panel {
  padding: 16px;
  min-height: 60vh;
  @include border-radius(0 !important);
}

.tabs {
  .tab-link {
    position: relative;
    display: inline-block;
  }
}