.ibx-table-container {
  display: table;
  width: 100%;
  position: relative;
  table-layout: fixed;
  border-spacing: 0 2px;
  @include border-radius(3px 3px 0 0);

  .ibx-table-row {
    display: table-row;
    @include box-shadow(0 3px 3px 0 rgba(37,38,94,0.04));
  }

  .ibx-table-cell {
    height: 64px;
    display: table-cell;
    vertical-align: middle;
    background-color: $white;
    padding: 10px 16px;
    line-height: 20px;

    &.large {
      width: 25%;
    }
    &.middle {
      width: 20%;
    }
    &.small {
      width: 15%;
    }

    &:first-child {
      @include border-radius(3px 0 0 3px);
    }
    &:last-child {
      @include border-radius(0 3px 3px 0);
    }

    &.user-info {
      color: rgba($black, 0.8);

      .name {
        margin-bottom: 2px;
        font-family: mardotoMedium;
        color: $black;
      }
    }
  }

  .head {
    @include box-shadow(0 4px 20px 0 rgba(37, 38, 94, 0.1));

    .ibx-table-cell {
      font-size: 0;
      height: 54px;
      line-height: 16px;
      padding-top: 14px;
      font-family: mardotoMedium;
      color: $grey-middle;

      &:last-child {
        border-right: 0;
      }

      >span {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;

        &:first-child {
          max-width: calc(100% - 20px);
          max-width: -webkit-calc(100% - 20px);
          max-width: -moz-calc(100% - 20px);
        }
      }
    }
  }
}

.table-sort {
  padding-left: 8px;

  >span {
    display: block;
    line-height: 0px;
    font-size: 10px;
    margin-bottom: 6px;

    i {
      line-height: 0px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover, &.active {
      cursor: pointer;
      color: $green;
    }
  }
}

.pagination-row {
  height: 64px;
  padding: 0 16px;
  background-color: $white;
  @include border-radius(3px);
  @include box-shadow(0 4px 20px 0 rgba(37, 38, 94, 0.1));
}

.flex-table {
  .flex-row {
    min-height: 44px;
    @include border-radius(3px);

    &:nth-child(2n + 1) {
      background-color: $white-middle-dark;
    }
  }

  .flex-item {
    padding: 3px 12px;
    flex: 1;

    &:last-child {
      flex: 2;
    }

    >span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 25px;
      padding: 5px 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .ibx-input, .ibx-selectbox {
    max-width: 200px;
    min-width: 200px;
  }

  &.custom-table {
    .flex-row {
      padding: 10px 0;
      background-color: $white-middle-dark;
      margin-bottom: 2px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.small-width {
    width: 50%;
    min-width: 400px;
  }

  &.with-head {
    .flex-row {
      &.flex-head {
        font-family: mardotoMedium;
      }

      &:nth-child(2n) {
        background-color: $white-middle-dark;
      }

      &:nth-child(2n + 1) {
        background-color: $white;
      }
    }

    .flex-item {
      flex: 1;

      &.large {
        flex: 2;
      }
    }
  }
}

.sub-table {
  padding: 5px 0;
}

.simple-table {
  display: table;
  width: 100%;
  border: 1px solid $white-middle-dark;
  @include border-radius(4px);

  .table-row {
    display: table-row;

    &:last-child {
      .table-cell {
        border-bottom: 0;
      }
    }

    &.table-row-head {
      background-color: $white-middle-dark;

      .table-cell {
        height: 54px;
        color: $grey-middle;
      }
    }
  }

  .table-cell {
    height: 52px;
    line-height: 0;
    vertical-align: middle;
    padding: 0 10px;
    display: table-cell;
    border-bottom: 1px solid $white-middle-dark;

    &.small {
      width: 35px;
    }

    &.large {
      width: 70%;
    }
  }
}

.no-data {
  text-align: center;
  font-size: 20px;
  width: 100%;
  padding: 75px 0;
  color: $grey-middle;
  font-family: mardotoMedium;

  img {
    width: 125px;
    margin-bottom: 30px;
  }
}

.accordion {
  .right-part {
    padding-left: 25px;
    margin-left: 25px;
    border-left: 1px solid $grey-pink;
  }
  button {
    height: 30px;
    width: 30px;
    font-size: 10px;
    line-height: 32px;
    text-align: center;
    color: $grey-middle;
    border: 0;
    cursor: pointer;
    background-color: $white-middle-dark;
    @include border-radius(3px);
    @include transition(0.3s);

    &.active {
      color: $white;
      background-color: $green;
    }
  }
}