.ibx-textarea {
  position: relative;

  textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 75px;
    max-height: 100px;
    font-size: 14px;
    font-family: mardotoRegular;
    padding: 14px 12px;
    color: $grey-dark;
    border: 1px solid $white-dark;
    background-color: $white;
    @include border-radius(3px);
    @include transition(0.3s);

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px $white inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    &:focus {
      border-color: $green;
    }

    &::-webkit-input-placeholder {
      color: rgba($grey-dark, 0.3);
    }
    &::-moz-placeholder {
      color: rgba($grey-dark, 0.3);
    }
    &:-moz-placeholder {
      color: rgba($grey-dark, 0.3);
    }
    &:-ms-input-placeholder {
      color: rgba($grey-dark, 0.3);
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $grey;
      @include border-radius(2px);
    }

    &.is-invalid {
      border-color: $red;
    }

    &[disabled] {
      color: rgba($black, 0.4);
      background-color: rgba($black, 0.04);
      border-color:  rgba($black, 0.04);

      &::-webkit-input-placeholder {
        color: rgba($black, 0.4);
      }
      &::-moz-placeholder {
        color: rgba($black, 0.4);
      }
      &:-moz-placeholder {
        color: rgba($black, 0.4);
      }
      &:-ms-input-placeholder {
        color: rgba($black, 0.4);
      }
    }
  }
}
