.ibx-uploader {
  .inner {
    height: 50px;
    margin-bottom: 12px;
    padding: 15px 14px;
    color: $grey-middle;
    font-family: mardotoLight;
    background-color: $white-middle-dark;
    @include border-radius(3px);

    .icon {
      color: $green;
      font-size: 22px;
      line-height: 0;
    }

    .text {
      padding-left: 12px;
    }

    label {
      color: $green;
      padding: 0 4px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.uploaded-item {
  height: 50px;
  margin-bottom: 12px;
  padding: 15px 14px;
  background-color: $white-middle-dark;
  border: 1px dashed $grey-pink;
  @include border-radius(3px);

  .item-title {
    width: 80%;
  }
}