$white: #ffffff;
$white-middle-dark: #F5F6FA;
$white-dark: #F8F9FB;

$grey: #e7e9f0;
$grey-pink: #E7E7E9;
$grey-light: #DFDFE4;
$grey-middle: #9AA2A8;
$grey-middle-light: #787993;
$grey-dark: #262626;
$grey-darker: #181818;

$black: #1C2835;
$black-light: rgba(0,0,0,0.5);

$blue: #4886FF;
$blue-dark: #25265E;
$blue-green: #014B68;

$red: #D50000;
$red-light: #FF4747;
$orange: #FF9323;

$green: #65B82E;
$green-light: #72BE44;



