@font-face {
  font-family: mardotoRegular;
  src: url("../fonts/mardoto/Mardoto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: mardotoLight;
  src: url("../fonts/mardoto/Mardoto-Light.ttf") format('truetype');
}

@font-face {
  font-family: mardotoMedium;
  src: url("../fonts/mardoto/Mardoto-Medium.ttf") format('truetype');
}

@font-face {
  font-family: mardotoBold;
  src: url("../fonts/mardoto/Mardoto-Bold.ttf") format('truetype');
}

@font-face {
  font-family: mardotoItalic;
  src: url("../fonts/mardoto/Mardoto-Italic.ttf") format('truetype');
}

.mardotoRegular {
  font-family: mardotoRegular;
}

.mardotoLight {
  font-family: mardotoLight;
}

.mardotoMedium {
  font-family: mardotoMedium;
}

.mardotoBold {
  font-family: mardotoBold;
}

.mardotoItalic {
  font-family: mardotoItalic;
}

