.row {
  margin-right: -14px;
  margin-left: -14px;

  .col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,
  .col-1-2, .col-2-3{
    padding-right: 14px;
    padding-left: 14px;
  }
}

.row-md {
  margin-right: -11px;
  margin-left: -11px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9 {
    padding-right: 11px;
    padding-left: 11px;
  }
}

.row-sm {
  margin-right: -8px;
  margin-left: -8px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  .col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9 {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.row-flex {
  >div {
    float: none;
  }
}

.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9 {
  position: relative;
  min-height: 1px;
  float: left;
}
.col-12{
  width: 100%;
}
.col-11{
  width: 91.66666667%;
}
.col-10{
  width: 83.33333333%;
}
.col-9{
  width: 75%;
}
.col-8{
  width: 66.66666667%;
}
.col-7{
  width: 58.33333333%;
}
.col-6{
  width: 50%;
}
.col-5{
  width: 41.66666667%;
}
.col-4{
  width: 33.33333333%;
}
.col-3{
  width: 25%;
}
.col-2{
  width: 16.66666667%;
}
.col-1{
  width: 8.33333333%;
}
