.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase !important;
}
.text-transform-none {
  text-transform: none;
}
.underline {
  text-decoration: underline;
}
/*float*/
.float-left {
  float: left;
}
.float-right {
  float: right;
}

/*cursor*/
.pointer {
  cursor: pointer;
}

/*clear*/
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/*display*/
.block {
  display: block;
}

.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.justify-center {
  @include justify-content(center);
}
.space-between {
  @include justify-content(space-between);
}
.justify-flex-end {
  @include justify-content(flex-end);
}

.align-items-center {
  @include align-items(center);
}
/*alignement*/

.align-middle {
  vertical-align: middle !important;
}
.align-top {
  vertical-align: top !important;
}
.align-bottom {
  vertical-align: bottom !important;
}

.relative {
  position: relative;
}

.no-wrap {
  white-space: nowrap;
}

/*colors*/

.grey-middle-light {
  color: $grey-middle-light !important;
}
.grey-middle {
  color: $grey-middle !important;
}
.green {
  color: $green !important;
}
.red {
  color: $red !important;
}
.blue {
  color: $blue !important;
}
.blue-dark {
  color: $blue-dark !important;
}
.bg-blue {
  background-color: $blue;
}
.bg-green {
  background-color: $green;
}
.bg-grey-light {
  background-color: $grey-light !important;
}
/**/

.flex-wrap {
  @include flex-wrap(wrap);
}

.flex-wrap-reverse {
  @include flex-wrap(wrap-reverse);
}

.align-items-center {
  @include align-items(center);
}

.align-items-stretch {
  @include align-items(stretch);
}

/*text-manipulation*/
.bold {
  font-weight: bold;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.padding-bt-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.padding-bt-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.max-width-initial {
  max-width: initial !important;
}
.min-width-initial {
  min-width: initial !important;
}

/* Width with persents */
@mixin width-percent($value){
  width: #{$value + '%'} ;
}

@for $i from 0 through 100 {
  .width-percent-#{$i}{
    @include width-percent($i);
  }
}

/* Font classes */

@mixin font($value) {
  font-size: #{$value + px} !important;
}

$font-list: 0  8 10 12 14 16 18 20 24 32 48;

@each $i in $font-list {
  .font-#{$i}{
    @include font($i);
  }
}

@mixin line-height($value) {
  line-height: #{$value + px} !important;
}

$line-height: 0 16 20 26;

@each $i in $line-height {
  .line-height-#{$i}{
    @include line-height($i);
  }
}

/* Generate classes for margin */

@mixin margin-right($value) {
  margin-right: #{$value + px} !important;
}

$margin-right-list: 0 5 10 15 20 25 30;

@each $i in $margin-right-list {
  .margin-right-#{$i}{
    @include margin-right($i);
  }
}

@mixin margin-left($value) {
  margin-left: #{$value + px} !important;
}

$margin-left-list: 0 5 10 15 20 25 40;

@each $i in $margin-left-list {
  .margin-left-#{$i}{
    @include margin-left($i);
  }
}

@mixin margin-top($value) {
  margin-top: #{$value + px} !important;
}

$margin-top-list: 0 5 10 15 20 24 30 40 70;

@each $i in $margin-top-list {
  .margin-top-#{$i}{
    @include margin-top($i);
  }
}

@mixin margin-bottom($value) {
  margin-bottom: #{$value + px} !important;
}

$margin-bottom-list: 0 5 10 15 20 24 25 40 70;

@each $i in $margin-bottom-list {
  .margin-bottom-#{$i}{
    @include margin-bottom($i);
  }
}

/* Generate classes for padding */
@mixin padding-right($value) {
  padding-right: #{$value + px} !important;
}

$padding-right-list: 0 5 10 15;

@each $i in $padding-right-list {
  .padding-right-#{$i}{
    @include padding-right($i);
  }
}

@mixin padding-left($value) {
  padding-left: #{$value + px} !important;
}

$padding-left-list: 0 5 10 15 20;

@each $i in $padding-left-list {
  .padding-left-#{$i}{
    @include padding-left($i);
  }
}

@mixin padding-top($value) {
  padding-top: #{$value + px} !important;
}

$padding-top-list: 0 5  10 15 70;

@each $i in $padding-top-list {
  .padding-top-#{$i}{
    @include padding-top($i);
  }
}

@mixin padding-bottom($value) {
  padding-bottom: #{$value + px} !important;
}

$padding-bottom-list: 0 5  10 15 100;

@each $i in $padding-bottom-list {
  .padding-bottom-#{$i}{
    @include padding-bottom($i);
  }
}


/* Max-Width with pixels */

@mixin max-width($value){
  max-width: #{$value + px};
}

$max-width-list: 0 170 194 240;

@each $i in $max-width-list {
  .max-width-#{$i}{
    @include max-width($i);
  }
}

/* Min-Width with pixels */
@mixin min-width($value){
  min-width: #{$value + px};
}

$min-width-list: 0 164 170;

@each $i in $min-width-list {
  .min-width-#{$i}{
    @include min-width($i);
  }
}

@media (max-width: 1280px) {
  @for $i from 30 through 48 {
    .font-#{$i} {
      @include font($i - 3);
    }
  }

  @for $i from 20 through 29 {
    .font-#{$i} {
      @include font($i - 2);
    }
  }

  @for $i from 16 through 19 {
    .font-#{$i} {
      @include font($i - 1);
    }
  }

  @for $i from 70 through 100 {
    .margin-bottom-#{$i} {
      @include margin-bottom($i - 20);
    }
  }

  @for $i from 70 through 100 {
    .margin-top-#{$i} {
      @include margin-top($i - 20);
    }
  }

  @for $i from 70 through 100 {
    .padding-bottom-#{$i} {
      @include padding-bottom($i - 20);
    }
  }

  @for $i from 70 through 100 {
    .padding-top-#{$i} {
      @include padding-top($i - 20);
    }
  }

  .padding-bt-70 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .padding-bt-60 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 1120px) {
  @for $i from 30 through 48 {
    .font-#{$i} {
      @include font($i - 6);
    }
  }

  @for $i from 22 through 29 {
    .font-#{$i} {
      @include font($i - 4);
    }
  }

  @for $i from 17 through 21 {
    .font-#{$i} {
      @include font($i - 2);
    }
  }

  @for $i from 70 through 100 {
    .margin-bottom-#{$i} {
      @include margin-bottom($i - 30);
    }
  }

  @for $i from 70 through 100 {
    .margin-top-#{$i} {
      @include margin-top($i - 30);
    }
  }

  @for $i from 70 through 100 {
    .padding-bottom-#{$i} {
      @include padding-bottom($i - 30);
    }
  }

  @for $i from 70 through 100 {
    .padding-top-#{$i} {
      @include padding-top($i - 30);
    }
  }

  .padding-bt-70 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .padding-bt-60 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
