* {
    margin: 0;
    padding: 0;
    outline: none;
    @include box-sizing(border-box);
}

.no-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.prev-default {
    pointer-events: none !important;
}

body {
    font-size: 14px;
    color: $black;
    position: relative;
    min-width: 1024px;
    word-break: break-word;
    font-family: mardotoRegular;
    background-color: $white-dark;
}

input, button {
    outline: none;
}

input[type='file'] {
    display: none;
}

a {
    text-decoration: none;
    @include transition(0.3s);

    &:hover {
        cursor: pointer;
    }
}

ul {
    list-style: none;
}

iframe {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

img {
    max-width: 100%;
}

.overlay {
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    opacity: 0;
    visibility: hidden;
    @include transition(0.5s ease-in);

    &.show {
        opacity: 1;
        visibility: visible;
        @include transition(0.5s ease-out);
    }
}

.page-container {
    padding: 64px 0px 40px 264px;
    min-height: 100vh;
}

.inner-container {
    padding: 0 24px;
}

.scroll {
    overflow: hidden;
    overflow-y: auto;
    margin-right: 2px;
    padding-right: 2px;

    &::-webkit-scrollbar-track {
        background-color: transparent;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey;
        @include border-radius(2px);
    }
}

.green-link {
    color: $green;
    display: inline-block;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    &.with-icon {
        text-decoration: none;

        i, span, img {
            line-height: 1;
            display: inline-block;
            vertical-align: middle;
        }

        img {
            width: 24px;
            height: 24px;
            margin-top: -2px;
        }

        span {
            margin-left: 6px;
        }

        &:hover {
            span {
                text-decoration: underline;
            }
        }
    }
}

.show-for-tablet, .show-for-mb {
    display: none !important;
}

.error-message {
    color: $red;
    font-size: 10px;
    position: absolute;
    bottom: -20px;
    left: 0;
    
    &.simple {
        font-size: 14px;
        bottom: initial;
        left: initial;
        position: relative;
    }
}

fieldset {
    &[disabled] {
        select, input, textarea, .ibx-radio, .ibx-checkbox, .ibx-button {
            cursor: default;
            pointer-events: none;
        }
    }
}

.border-top {
    border-top: 1px solid $grey;
}
.border-bottom {
    border-bottom: 1px solid $grey;
}